@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#canvas {
    padding: 0;
    width: 1000;
    height: 600;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.message-box {
    position: relative;
    display: flex;
    color: #6ee1f5;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: pre;
}

.message-box span {
    opacity: 0;
    transform: scale(0);
    animation: fade-in 2.4s forwards;
}

.message-box::before, .message-box::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 2px;
    background: white;
    opacity: 0;
    transform: scale(0);
}

.message-box::before {
    left: 50%;
    animation: slide-left 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

.message-box::after {
    right: 50%;
    animation: slide-right 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: scale(1);
   }
}

@keyframes slide-left {
    to {
        left: -6%;
        opacity: 1;
        transform: scale(0.9);
   }
}

@keyframes slide-right {
    to {
        right: -6%;
        opacity: 1;
        transform: scale(0.9);
   }
}
